body{
    margin:0;
    background-color:#131522;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    text-align: center;
}

nav ul {
    margin: 0%;
    padding: 25px;
    
}

nav ul li {
    display: inline;
    margin: 5px;
}


nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

nav ul li a:hover {
    color: #1BC5EB;
    transition: 0.5s;
}

header {
text-align: center;
color: white;
}
header h1 {
    color: #1BC5EB;
}
header h3{
    margin-top: -20px;
}
header img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
main{
    text-align: center;
    width: 50%;
    margin: auto;
}
.item-contato{
    background-color:#131522 ;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px #1BC5EB;
    margin-top: 40px;
}

.item-contato h2{
  color: white;
}
a{
    text-decoration: none;
    outline: none;
}
ion-icon{
    color: white;
    margin-top: -18px;
}

.url-site{
    text-align: center;
    color: white;
    margin-top: 40px;
}
.contate{
    
    color: white;
    text-align: center;
}

form {
    
    box-shadow: 2px 2px 2px 2px #1BC5EB;
    width: 400px;
    padding: 20px;
    margin: 100px auto;
    border-radius: 15px;
    background-color: #131522;
}
.invalid {
    border: 2px solid red;
}


form label {
    color: white;
    font-weight: bolder;
}

form input, textarea {
    width: 100%;
    border: none;
    margin: 10px auto;
    margin-right: 10px;
    border-radius: 10px;
}

form input{
    height: 40px;
}


.button{
    text-align: center;
    width: 100%;
    border: none;
    background-color: #1BC5EB;
    color: white;
    font-weight: bolder;
}

@media only screen and (max-width:321px){
    .item-p{

        display: inline-block;
        margin: 10px;
        border-radius: 15px;
        box-shadow: 2px 2px 2px 2px rgb(117, 114, 114);
    }

    nav ul li {
        justify-content: center;     
        display: flex;
        margin-top: 15px;
        margin-bottom: 5px;
        
    }
   
}


@media only screen and (max-width: 500px) {
    form {
        width: 70%;
    }
}

    