body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #EDEDED;
}
header {
    background-color:#131522 ;
    padding: 15px;
    text-align: center;
    color: white;
}
header h1 {
    color: #1BC5EB;
}

header h3{
    margin-top: -20px;
}
header img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
nav {
    background-color: #131522;
    text-align: center;
}

nav ul {
    margin: 0;
    padding: 25px;
    
}

nav ul li {
    display: inline;
    margin: 10px;
}

nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}

a{
    color: black;
    text-decoration: none;
   
}
nav ul li a:hover{
   color: #1BC5EB;
   transition: 0.5s;
}
.titulo{
    text-align: center;
    color: #1BC5EB;
    margin-top: 50px;
}
main {
    text-align: center;
}
.item-portfolio{
    
    display: inline-block;
    margin: 40px;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px rgb(117, 114, 114);
}

.item-portfolio img{
    width: 300px;
    height: 300px;
}

footer{
    
    background-color: #1BC5EB;
    text-align: center;
    font-weight: bold;
    padding: 20px;
    color: white;
}

@media only screen and (max-width:321px){
    .item-portfolio{

        display: inline-block;
        margin: 10px;
        border-radius: 15px;
        box-shadow: 2px 2px 2px 2px rgb(117, 114, 114);
    }
    nav ul li {
        justify-content: center;     
        display: flex;
        margin-top: 15px;
        margin-bottom: 5px;
       
    }
}
    